In [1]:
import re

In [2]:
text = "My email is example123@test.com and phone number is 9876543210."

emails = re.findall(r'[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,}', text)
print("Emails:", emails)

Emails: ['example123@test.com']

In [3]:
phones = re.findall(r'\b\d{10}\b', text)
print("Phone numbers:", phones)

Phone numbers: ['9876543210']

In [4]:
replaced_text = re.sub(r'\d+', '[NUMBER]', text)
print("After replacement:", replaced_text)


if re.match(r'^My', text):
    print("Text starts with 'My'")

After replacement: My email is example[NUMBER]@test.com and phone number is [NUMBER].
Text starts with 'My'

In [2]:
import pandas as pd

In [5]:
# Arithmetic operations on two Pandas Series (add, subtract, multiply, divide)
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 9])

result = pd.DataFrame({
    's1': s1,
    's2': s2,
    'add': s1 + s2,
    'subtract': s1 - s2,
    'multiply': s1 * s2,
    'divide': s1 / s2  
})

print("Task 1: Arithmetic operations")
print(result)

Task 1: Arithmetic operations
   s1  s2  add  subtract  multiply    divide
0   2   1    3         1         2  2.000000
1   4   3    7         1        12  1.333333
2   6   5   11         1        30  1.200000
3   8   7   15         1        56  1.142857
4  10   9   19         1        90  1.111111

In [4]:
# Compare the elements of two Pandas Series 
comparison_df = pd.DataFrame({
    's1': s1,
    's2': s2,
    'equal': s1 == s2
})

print("Task 2: Element-wise comparison (equality)")
print(comparison_df)

Task 2: Element-wise comparison (equality)
   s1  s2  equal
0   2   1  False
1   4   3  False
2   6   5  False
3   8   7  False
4  10   9  False

In [6]:
#  Convert a dictionary to a Pandas Series
original_dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

series_from_dict = pd.Series(original_dict)

print("Task 3: Series converted from dictionary")
print(series_from_dict)

Task 3: Series converted from dictionary
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [ ]:
# Items in sr1 not in sr2, and vice versa
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([1, 3, 5, 7, 9])

not_in_sr2 = sr1[~sr1.isin(sr2)].reset_index(drop=True)
not_in_sr1 = sr2[~sr2.isin(sr1)].reset_index(drop=True)

print("Task 4: Items in sr1 not in sr2:")
print(not_in_sr2)
print("Items in sr2 not in sr1:")
print(not_in_sr1)

In [7]:
# Function to change first and last char to uppercase in each word
series = pd.Series(['python', 'pandas series', 'hello world', 'data science'])

def first_last_upper(word):
    words = word.split()
    new_words = []
    for w in words:
        if len(w) == 1:  
            new_words.append(w.upper())
        else:
            new_words.append(w[0].upper() + w[1:-1] + w[-1].upper())
    return ' '.join(new_words)

result = series.apply(first_last_upper)

print("Original Series:")
print(series)
print("\nTransformed Series:")
print(result)

Original Series:
0           python
1    pandas series
2      hello world
3     data science
dtype: object

Transformed Series:
0           PythoN
1    PandaS SerieS
2      HellO WorlD
3     DatA SciencE
dtype: object

In [8]:
def convert_first_last_upper(sentence):
    words = sentence.split()
    result_words = []

    for word in words:
        if len(word) == 1:
           
            result_words.append(word.upper())
        else:
            new_word = word[0].upper() + word[1:-1] + word[-1].upper()
            result_words.append(new_word)

    return " ".join(result_words)

sentence = "python is amazing"
output = convert_first_last_upper(sentence)
print(output)

PythoN IS AmazinG

In [9]:
original_dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

# Convert to Series
series_from_dict = pd.Series(original_dict)

print("Converted Series:")
print(series_from_dict)

Converted Series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [10]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6])

not_in_sr2 = sr1[~sr1.isin(sr2)].reset_index(drop=True)

not_in_sr1 = sr2[~sr2.isin(sr1)].reset_index(drop=True)

print("Items in sr1 not in sr2:")
print(not_in_sr2)
print("\nItems in sr2 not in sr1:")
print(not_in_sr1)

Items in sr1 not in sr2:
0    1
1    3
2    5
dtype: int64

Items in sr2 not in sr1:
0    6
dtype: int64