In [30]:
!pip install pandas 
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [31]:
df = pd.read_csv('iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [13]:
print("Size:", df.size)

Size: 750

In [14]:
print("\nData Types:\n", df.dtypes)

Data Types:
 sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [15]:
print("\nColumn Names:\n", df.columns)

Column Names:
 Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [19]:
print("\nIs 'species' unique?:", df['species'].is_unique)

Is 'species' unique?: False

In [16]:
print("\nIndex of the DataFrame:", df.index)

Index of the DataFrame: RangeIndex(start=0, stop=150, step=1)

In [17]:
print("\nHead:\n", df.head())

Head:
    sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [18]:
print("\nTail:\n", df.tail())

Tail:
      sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [24]:
df.sample(3)

    sepal_length  sepal_width  petal_length  petal_width     species
6            4.6          3.4           1.4          0.3      setosa
74           6.4          2.9           4.3          1.3  versicolor
10           5.4          3.7           1.5          0.2      setosa

In [26]:
df.shape

(150, 5)

In [32]:
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)

df_single_col = df[['sepal length (cm)']]        
series = df_single_col.squeeze()               
print(type(df_single_col), "->", type(series))
print("First 5 of squeezed series:\n", series.head())

Example 3: conditional squeeze: if selection might be (n,1) or (n,), safely convert
def safe_squeeze(df_or_series):
    squeezed = df_or_series.squeeze()
    return squeezed

# Usage: suppose you filter and select one column, which might be DataFrame
maybe_df = df.loc[df['species'] == 'setosa', ['petal width (cm)']]  # could be (50,1)
result = safe_squeeze(maybe_df)  # will become Series of length 50
print("Squeezed filtered result type:", type(result))

<class 'pandas.core.frame.DataFrame'> -> <class 'pandas.core.series.Series'>
First 5 of squeezed series:
 0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal length (cm), dtype: float64

In [ ]:
# Example 2: squeeze a numpy array with an extra singleton dimension
arr = iris.data[:, [0]]     
squeezed_arr = np.squeeze(arr)
print("Original numpy shape:", arr.shape, "-> Squeezed shape:", squeezed_arr.shape)

In [35]:
# Example 3: conditional squeeze: if selection might be (n,1) or (n,), safely convert
def safe_squeeze(df_or_series):
    squeezed = df_or_series.squeeze()
    return squeezed
    
maybe_df = df.loc[df['species'] == 'setosa', ['petal width (cm)']]  # could be (50,1)
result = safe_squeeze(maybe_df)  # will become Series of length 50
print("Squeezed filtered result type:", type(result))

Squeezed filtered result type: <class 'pandas.core.series.Series'>

In [36]:
elem = df.iloc[0, 1]
print("Element at row 0, col 1:", elem)

Element at row 0, col 1: 3.5
Same via .iat: 3.5

In [37]:
elem_fast = df.iat[0, 1]
print("Same via .iat:", elem_fast)

Same via .iat: 3.5

In [38]:
row_10 = df.iloc[9]  
print("\n10th row:\n", row_10)

10th row:
 sepal length (cm)       4.9
sepal width (cm)        3.1
petal length (cm)       1.5
petal width (cm)        0.1
species              setosa
Name: 9, dtype: object

In [39]:
col_3 = df.iloc[:, 2]
print("\n3rd column (petal length):\n", col_3.head())

3rd column (petal length):
 0    1.4
1    1.4
2    1.3
3    1.5
4    1.4
Name: petal length (cm), dtype: float64

In [40]:
slice_block = df.iloc[5:10, 0:3]
print("\nSlice [5:10, 0:3]:\n", slice_block)

Slice [5:10, 0:3]:
    sepal length (cm)  sepal width (cm)  petal length (cm)
5                5.4               3.9                1.7
6                4.6               3.4                1.4
7                5.0               3.4                1.5
8                4.4               2.9                1.4
9                4.9               3.1                1.5

In [41]:
fancy = df.iloc[[0, 50, 100], [0, 2]]
print("\nFancy indexing subset:\n", fancy)

Fancy indexing subset:
      sepal length (cm)  petal length (cm)
0                  5.1                1.4
50                 7.0                4.7
100                6.3                6.0

In [42]:
neg = df.iloc[-1, -2:]
print("\nLast row, last two columns:\n", neg)

Last row, last two columns:
 petal width (cm)          1.8
species             virginica
Name: 149, dtype: object

In [43]:
data_np = df.iloc[:, :4].to_numpy()  
rows = np.array([0, 49, 99])
cols = np.array([1, 3])

advanced = data_np[rows[:, None], cols]
print("\nAdvanced numpy integer indexing result (rows 0,49,99 × cols 1,3):\n", advanced)


setosa_indices = df.index[df['species'] == 'setosa'].to_list() 
first_three_setosa = df.iloc[setosa_indices[:3], :]
print("\nFirst three 'setosa' rows via integer positions:\n", first_three_setosa)

Advanced numpy integer indexing result (rows 0,49,99 × cols 1,3):
 [[3.5 0.2]
 [3.3 0.2]
 [2.8 1.3]]

First three 'setosa' rows via integer positions:
    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2

  species
0  setosa
1  setosa
2  setosa