In [1]:
name = input("Your name:")
age = input("Your age:")
print("Hello! I am ",name + "  I am", age + " years old")

Your name: Manorma
Your age: 20

Hello! I am  Manorma  I am 20 years old

In [2]:
#addition of 2 numbers
a = int(input("Enter the first number:"))
b = int(input("Enter the second number:"))
sum = a+b
print("The addition is:",sum)

Enter the first number: 23
Enter the second number: 45

The addition is: 68

In [3]:
#add,sub,mul,division of two numbers
a = int(input("Enter the first number:"))
b = int(input("Enter the second number:"))
sum = a+b
sub = a-b
mul = a*b
division = a/b
print("The addition is:",sum)
print("The subtraction is:",sub)
print("The multiplication is:",mul)
print("The division is:",division)

Enter the first number: 23
Enter the second number: 45

The addition is: 68
The subtraction is: -22
The multiplication is: 1035
The division is: 0.5111111111111111

In [4]:
x = int(input("Enter the x:"))
y = int(input("Enter the y:"))
x,y = y,x
print("After swapping: x=", x, "y=" , y)

Enter the x: 23
Enter the y: 12

After swapping: x= 12 y= 23

In [5]:
#swap
a=int(input("enter first digit (a):"))
b=int(input("enter second digit (b):"))
a,b=b,a
print("after swapping: a=",a, "b=", b)

enter first digit (a): 23
enter second digit (b): 56

after swapping: a= 56 b= 23

In [6]:
#rectangle
length=float(input("enter length:"))
breadth=float(input("enter breadth:"))
area = length*breadth
print("area of rectangle:",area)

enter length: 34
enter breadth: 23

area of rectangle: 782.0

In [7]:
#sum of digits in number
n = 1552
sum = 0
while n >0:
  a = n % 10
  n = n // 10
  sum = sum + a
print(' = ',sum)

 =  13

In [8]:
# greater of 2 numbers
a = int(input("Enter the First Integer:"))
b = int(input("Enter the Second Integer:"))
if a>b:
           print("a is greater.")   
else:
           print("b  is greater.")

Enter the First Integer: 3
Enter the Second Integer: 4

b  is greater.

In [10]:
#find given number is armstrong or not

num = int(input("Enter a number: "))
power = len(str(num))  

sum_of_powers = 0
temp = num

while temp > 0:
    digit = temp % 10
    sum_of_powers += digit ** power
    temp = temp // 10

if num == sum_of_powers:
    print(num, "is an Armstrong number.")
else:
    print(num, "is not an Armstrong number.")

Enter a number:  121

121 is not an Armstrong number.

In [11]:
rows = 10
for i in range (1, rows+1):
    print(' *'* i)

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *
 * * * * * * *
 * * * * * * * *
 * * * * * * * * *
 * * * * * * * * * *

In [12]:
rows = 10
for i in range (1 ,rows+1):
    print(('*' * i).rjust(rows))

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [13]:
i = 5
while i>= 1:
    print(i)
    i -= 1

5
4
3
2
1

In [14]:
#print a pattern

num = int(input("enter number of rows"))
for i in range( 1 , num+1):
  for j in range (0 , i):
    print(j+1 , end=" ")
  print("\n")

enter number of rows 3

1

1 2

1 2 3